
.Inbox {
  position: absolute;
  top: 0px;
  left: 27%;
  width: 50%;
  flex: 0.8;
  border: 5px solid lavender;
  height: auto;
  overflow-y:scroll;
  /* padding-top: 0px;
  padding-bottom: 10px; */
  padding: 20px;
  margin: 0.5rem auto 1.5rem;
  border-radius: 2rem;
 
}

.Inbox::-webkit-scrollbar{
  display: none;
}
.InboxHeader {
  position:sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--home-background);
  padding: 15px 20px;
}

ul.choose {
  min-width: fit-content;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.choose li {
  width: auto;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.choose li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.choose li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.choose li:hover {
  background: rgba(222, 184, 135, 0.251);
}

ul.choose li.current {
  background: burlywood;
}

.Tabs {
  font-size: 2rem;
  text-align: left;
}

.choose {
  font-weight: bold;
}

