.postbox{
  box-shadow: 1px 2px 9px #c48d4f;
  margin: 4em;
  padding: 1em;
  border-radius: 2rem; 
}
.postbox_input {
    padding: 20px;
    display: flex;
    text-align: right;
    
}
.postbox_body {
    padding: 20px;
    display: flex;
    text-align: right;
    
}

.postbox_input > input{
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    border:none;
    text-align: center;
    
}
.postbox_body > input{
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    border:none;
    text-align: center;
    
    
}


.postbox_submit{
    text-align: center;
}
.postbox_footer2{
    text-align: left;
    margin-left: 2px;
}


.postbox_button{
    background-color: burlywood !important;
    border: none !important;
    color: black !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    height: 40px !important;
    width: 80px;
    margin-top: 20px !important;
    border-radius: 30px !important;
    margin-left: auto !important;
}

.postbox_inputimage{
    border: none;
    padding: 10px;

}
h3{
    margin-top: 2px;
    font-size: large;
    color: black;
    font-style: italic;
    text-align: center;
  }
  
  h4{
    font-style: italic;
    text-decoration:underline;
  }