.info{
    flex: 0.8;
    border-right: 1px solid var(--home-background);
    min-width: fit-content;
    overflow-y:scroll;
    border-radius: 2rem; 
    /* background-color: rgba(15, 202, 71, 0.238); */
    /* margin-right: 15px; */
}

.profileHeader {
    position: sticky;
    text-align: center;
    border: 5px solid lavender;
    border-radius: 2rem;
}

/* h1 {
    border: 5px solid lavender;
} */

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:rgb(159, 185, 31);
}

.display_socials {
    text-align: center;
    width: 100%;
    border-radius: 2rem;
}

.showUsername {
    margin-top: 10px;
}

table {
    border: 2px solid;
    margin-top: 20px;
    font-size: large;
}

.editUsername {
    color: rgb(159, 185, 31);
    padding-left: 10px;
}

body.active-modal {
    overflow-y: hidden;
}

.edit_modal .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.edit_content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 400px;
    min-height: 250px;
    margin-top: 20%;
}

.user_github {
    font-size: 17px;
    color: rgb(105, 104, 104);
    margin-bottom: 15px;
    margin-top: 10px;
}

.profileHeader .delete_pp {
    background-color: rgb(255, 0, 0);
    color: black;
    font-weight: bold;
}

.profileHeader .delete_pp:hover {
    background-color: rgba(255, 0, 0, 0.346);
}

.close_modal {
    background-color: white;
    color: red;
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 35px;
}

.submit {
    background-color: white;
    color: green;
    position: absolute;
    right: 30px;
    bottom: 130px;
    font-size: 35px;
}

.input_size {
    margin-top: 18%;
    font-size: x-large;
    margin-right: 50%;
}