.info{
    flex: 0.8;
    border-right: 1px solid var(--home-background);
    min-width: fit-content;
    overflow-y:scroll;
}

.profileHeader {
    position: sticky;
    text-align: center;
    border: 5px solid lavender;
}

/* h1 {
    border: 5px solid lavender;
} */

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:rgb(159, 185, 31);
}

.display_socials {
    text-align: center;
    width: 100%;
}

.showUsername {
    margin-top: 10px;
}

table {
    border: 2px solid;
    margin-top: 20px;
    font-size: large;
}

.editUsername {
    color: rgb(159, 185, 31);
}