/* body{
    --home-color: rgb(159, 185, 31);
    --home-background:#e6ecf0;
  } */
  /* .profile{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 10px;
  } */

/* .profile { */
  /* font-size: large; */
  /* position: sticky; */
  /* height: 50%; */
  /* width: 50%; */
  /* margin-left: 50%; */
  /* background-color: black; */
/* } */

.profile {
  display: flex;
  height: 100vh;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
  padding: 0 10px;
}

/* .profileHeader {
  font-size: large;
} */