/* body{
    --home-color: rgb(159, 185, 31);
    --home-background:#e6ecf0;
  }
  .inbox{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 10px;
  } */

  /* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   } */

/* .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} */

.Inbox {
  position: absolute;
  top: 0px;
  left: 25%;
  width: 50%;
  flex: 0.4;
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  /* min-width: fit-content; */
  height: auto;
  /* min-height: 400px; */
  background-color: #ffffff;
  overflow-y:scroll;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0.5rem auto 1.5rem;
  /* can remove the 2nd rem */
  /* margin: 0.5rem auto 1.5rem;
  padding: 1rem 1rem;
  color: #000000;
  border-radius: 2rem;
  @media (max-width: 769px) {
  padding: 2rem 0;
  } */
}

.InboxHeader {
  position:sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 800;
}

ul.choose {
  min-width: fit-content;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000000;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.choose li {
  width: auto;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.choose li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.choose li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.choose li:hover {
  background: rgba(28, 133, 219, 0.15);
}

ul.choose li.current {
  background: rgb(159, 185, 31);
}

.Tabs {
  font-size: 2rem;
  text-align: left;
}