.sidebar {
    border-right: 1px solid var(--home-background);
    flex: 0.2;
    /* margin-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    /* background-color: rgba(60, 219, 237, 0.332); */
    background-color: #7DA2A9
    ;
    /* background-color: black; */
    
   
}

/* .sidebar:hover{
    background-color: white;
    border-radius: 30px;
    color: var(--home-color);
    transition: color 100ms ease-out;
} */

.sidebar_post{
    background-color: var(--home-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    height: 40px !important;
    width: 80px;
    margin-top: 20px !important;
    border-radius: 30px !important;
    
}

.list{
    color: var(--home-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

